   table  {
            border-collapse: collapse;
            width: 95%;
			
           margin-left:36px;
            margin-top:15px;
			margin-right:15px;
            border: 4px solid #dddddd;
            background-color: white;
            
        }
#myDIV {
  width: 1345px;
  height: 500px;
  background-color:white;
  display: none;
  border: 3px solid lightblue;
}
#job{
                height: 30px;
                width:100%;
                border-radius: 4px;
                text-align:left;
                padding-left:20px;
				background-color:white;
                color:#d06617;
            }
            #rotate{
                position:absolute;
                margin-top:-17px;
                padding-left:10px;
                color:#d06617;
            }
            #down{
                position:absolute;
                margin-top:-26px;
                padding-left:10px;
                color:#d06617;
                display: none;

            }
         
    body{
            font-family: 'Lato', sans-serif;

        }
td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
tr:nth-child(even) {
            background-color:#ECF0F1;
        }
#input{
             margin-left: 10px;
        }
#select1{
            width: 400px;
            height: 35px;
            padding-left: 5px;
            border-color: #058cd8;
        }
#select2{
             width: 250px;
             height: 30px;
             border-color: #058cd8;

        }
		#select3{
            width: 400px;
            height: 35px;
            padding-left: 5px;
            border-color: #058cd8;
        }
		#select4	{
            width: 400px;
            height: 35px;
            padding-left: 5px;
            border-color: #058cd8;
        }
#textarea{
            padding: 10px;
            resize: none;
            border-color: #058cd8;
        }
#loc{
    margin-top:20px;
    height:35px;
    width:395px;
    padding-left: 5px;
    border: 1px solid #058cd8;

}
#business-name{
    height:35px;
    width:395px;
    padding-left: 5px;
    border: 1px solid #058cd8;

}
#vac{
    margin-top:20px;
    height:30px;
    width:245px;
    padding-left: 5px;
    border: 1px solid #058cd8;
}
#date{
    height:30px;
    width:390px;
    padding-left: 5px;
    border: 1px solid #058cd8;
}
#calender{
    position:absolute;
    left:436px;
    size:30px;
    color:red;
    margin-top: 8px;
    
    
}
#calender2{
    position:absolute;
    left:897px;
    size:30px;
    color:red;
    margin-top: 8px;
    
}
.button1{
    height: 25px;
    background-color:#009688;
    border:1px solid:#009688;
    color:white;
    border-radius: 4px;
    margin-bottom: 15px;
    border-color: #058cd8;

}
#but{
    height:20px;
}
.but-save{
    height:30px;
    width:95px;
    color:white;
    background-color:#058cd8;
    border-radius:4px;
}
.but-reset{
    height:30px;
    width:95px;
   background-color:#ed5d67;
    border-radius:4px;
    color:white;
}
#save{
    position:absolute;
    margin-top:6px;
    color:white;
    left:167px;

}
#reset{
    position:absolute;
    margin-top:6px;
    color:white;
    left:69px;
}
#ex1{
    color:red;
	
	visibility:hidden;
}
#ex2{
    color:red;
	visibility:hidden;
	
}
#ex3{
    color:red;
	visibility:hidden;
}
#ex4{
    color:red;
	visibility:hidden;
}
#ex5{
    position:absolute;
    margin-top:8px;
    margin-left:5px;
     color:red;
	 visibility:hidden;
}
#ex6{
    color:red;
	visibility:hidden;
}
#ex7{
    color:red;
	visibility:hidden;
}
#ex8{
    color:red;
	visibility:hidden;
}
#ex9{
    position: absolute;
    margin-top:8px;
    margin-left:18px; 
    color:red;
	visibility:hidden;
}
#ex10{
    position: absolute;
    margin-top:8px;
    margin-left:18px; 
    color:red;
	visibility:hidden;
}

input[type="date"] {
  position: relative;
  
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
	position: absolute;
	right: 6px;
	color: red;
}	
